<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="clearfix footer-wrapper">
        <div class="letter pull-left">
          <h5 id="sign-up-confirm">Get the Latest news &amp; product updates</h5>
          <form id="subscribe-form" novalidate="novalidate">
            <fieldset>
              <input type="text" required="" placeholder="Enter you email address" id="subscribe-email" name="subscribe" aria-required="true">
              <input type="submit" value="Subscribe" class="btn my-btn-1" id="subscribe-button">
            </fieldset>
          </form>
        </div>
        <div class="social pull-right">
          <h5>We are social</h5>
          <ul class="list-unstyled social">
            <li><a href="https://www.facebook.com/HEATWORKSMODEL1" class="fb" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/HW_MODEL_1" class="tw" target="_blank">Twitter</a></li>
            <li><a href="http://vimeo.com/user23793737/videos" class="vm" target="_blank">Vimeo</a></li>
            <li><a href="http://www.youtube.com/channel/UC2RvMDebcZRVUq3gUx4hNdg/videos" class="yt" target="_blank">YouTube</a></li>
          </ul>
        </div>
      </div>
      <div id="bottom" class="clearfix">
        <p class="pull-left">*ISI Technology &amp; the Heatworks MODEL1 are covered by multiple US &amp; International Patents.</p>
        <ul class="list-unstyled pull-right">
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>