<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="logo pull-left"><a href="">HeatWorks Model 1</a></h1>
      <nav>
        <ul class="ht-nav pull-right">
          <li class="active"><a href="">Home</a></li>
          <li><a href="">Our Technology</a></li>
          <li><a href="">Partners</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
          <li><button class="btn my-btn-1"><span></span>Buy</button></li>
        </ul>
      </nav>
    </div>
  </div>
</div>