@media (min-width: 993px) and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }

  .show-m {
    display: block;
  }

  #home-video {
    background-size: auto;
  }

  .my-page-header {
    background-size: auto;
  }

  .use-description {
    width: 318px;
  }

  .use-image {
    width: 596px;
  }

  #uses-tabs-links ul li a {
    padding: 17px 30px 0;
  }

  .savings-inner-tabs {
    width: 620px;
  }

  .savings-description {
    padding-right: 0;
    width: 281px;
  }

  .buy-cta {
    padding: 0 42px;
  }

  .about-logo {
    width: 123px;
  }

  .about-text {
    width: 780px;
  }

  .ceo-text {
    padding-left: 320px;
  }

  .member-image > img {
    width: 140px;
  }

  .member-text {
    width: 537px;
  }

  .contact-link {
    padding-right: 40px;
  }
}