@media (min-width: 768px) and (max-width: 992px) {
  .hide-s {
    display: none !important;
  }

  .show-s {
    display: block;
  }

  .use-image {
    width: 485px;
    padding-top: 30px;
  }

  .use-description {
    width: 235px;
  }

  #uses-tabs {
    height: 730px;
  }

  #uses-tabs p {
    font-size: 15px;
    line-height: 27px;
  }

  #uses-tabs-links ul li a {
    padding: 17px 10px 0;
  }

  .savings-inner-tabs {
    width: 478px;
  }

  .savings-description {
    width: 219px;
    padding-right: 0;
  }

  .buy-cta {
    padding: 0 10px;
  }

  #bottom,
  #bottom a {
    font-size: 11px;
  }

  .text-3-gallery-3 {
    left: -205px;
    top: 148px;
  }

  .text-3-gallery-3 .line-container {
    right: -80px;
    width: 96px;
  }

  .about-logo {
    width: 103px;
  }

  .about-text {
    width: 599px;
  }

  #ceo img {
    width: 276px;
  }

  .ceo-text {
    padding-left: 250px;
  }

  #team-tabs {
    height: 585px;
  }

  .member-image > img {
    width: 166px;
  }

  .member-text {
    width: 362px;
    padding-left: 20px;
  }

  .member-image {
    width: 354px;
  }
}