/***************************
****************************
General Styles
****************************
***************************/

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-semibold-webfont.woff') format('woff'),
  url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
  url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular-webfont.woff') format('woff'),
  url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
  url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light-webfont.woff') format('woff'),
  url('../fonts/opensans-light-webfont.ttf') format('truetype'),
  url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-sbold-webfont.eot');
  src: url('../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-sbold-webfont.woff') format('woff'),
  url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-sbold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-reg-webfont.woff') format('woff'),
  url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@keyframes play-pulse {
  0%{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:1}
  60%{opacity:1}
  80%{opacity:0}
  100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}

@-webkit-keyframes play-pulse {
  0%{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:1}
  60%{opacity:1}
  80%{opacity:0}
  100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}

@-ms-keyframes play-pulse {
  0%{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:1}
  60%{opacity:1}
  80%{opacity:0}
  100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}

body {
  font-family: 'open_sansregular';
}

.show-xs,
.show-s,
.show-m,
.show-xl {
  display: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'proxima_novasemibold';
  margin: 0;
  font-weight: normal;
  line-height: normal;
}

a, a:active, a:hover, a:focus {
  outline: none;
  text-decoration: none;
  color: #303030;
}

/***************************
****************************
Bottons Styles
****************************
***************************/

.my-btn-1 {
  background-color: #e74748;
  color: #ffffff;
  font-family: 'proxima_novasemibold';
  height: 35px;
  line-height: 35px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: baseline;
  width: 93px;
}

.my-btn-1:hover {
  color: #FFFFFF;
}

.my-btn-1 span {
  background: url("../images/icon-1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 15px;
  margin-right: 14px;
  vertical-align: middle;
  width: 16px;
}

.go-to {
  background: url("../images/arrow-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 58px;
  width: 58px;
}

.btn-2-wrapper {
  left: 0;
  position: absolute;
  top: 0;
  width: 153px;
}

.btn-2-wrapper a {
  background: url("../images/btn-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 72px;
  left: 50%;
  margin-left: -36px;
  position: absolute;
  top: 41px;
  width: 72px;
  z-index: 3;
}

.btn-2-wrapper a + span {
  background: url("../images/btn-2-circle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 159px;
  left: 0;
  position: absolute;
  top: 0;
  width: 153px;
  z-index: 2;

  transition:.1s;
  animation:play-pulse 2s infinite linear;
  -webkit-animation:play-pulse 2s infinite linear;
  -moz-animation:play-pulse 2s infinite linear;
  -ms-animation:play-pulse 2s infinite linear;
  -o-animation:play-pulse 2s infinite linear
}

/***************************
****************************
Header Styles
****************************
***************************/

header {
  background: 
  url("../images/g-1.png") repeat-x scroll 0 100%,
  url("../images/t-1.png") repeat 0 0;
  height: 89px;
  left: 0;
  padding-bottom: 6px;
  position: absolute;
  top: 0;
  width: 100%;
}

header .logo {
  margin-top: 20px;
}

.logo a {
  background: url("../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 41px;
  text-indent: -9999px;
  width: 214px;
}

.ht-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.ht-nav li {
  float: left;
}

.ht-nav li a {
  font-family: 'proxima_novasemibold';
  text-transform: uppercase;
  font-size: 14px;
}

header .ht-nav li {
  margin: 0 22px;
  line-height: 83px;
}

header .ht-nav li:first-child {
  margin-left: 0;
}

header .ht-nav li a {
  display: block;
  height: 83px;
  line-height: 83px;
}

header .ht-nav li.active a {
  background: url("../images/arrow-1.png") no-repeat 50% 100%;
}

/***************************
****************************
Home Video Styles
****************************
***************************/
#home-video {
  background: url("../images/bg-1.png") repeat center top / cover  rgba(0, 0, 0, 0);
  height: 936px;
  text-align: center;
  padding-top: 232px;
}

#home-video h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 58px;
  margin-bottom: 10px;
}

#home-video p {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

#home-video .go-to {
  left: 50%;
  margin-left: -29px;
  position: absolute;
  top: 610px;
}

#home-video .btn-2-wrapper {
  left: 50%;
  margin-left: -76.5px;
  top: 245px;
}