/***************************
****************************
General Styles
****************************
***************************/

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-semibold-webfont.woff') format('woff'),
  url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
  url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular-webfont.woff') format('woff'),
  url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
  url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light-webfont.woff') format('woff'),
  url('../fonts/opensans-light-webfont.ttf') format('truetype'),
  url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-sbold-webfont.eot');
  src: url('../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-sbold-webfont.woff') format('woff'),
  url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-sbold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-reg-webfont.woff') format('woff'),
  url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@keyframes play-pulse {
  0%{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:1}
  60%{opacity:1}
  80%{opacity:0}
  100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}

@-webkit-keyframes play-pulse {
  0%{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:1}
  60%{opacity:1}
  80%{opacity:0}
  100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}

@-ms-keyframes play-pulse {
  0%{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:1}
  60%{opacity:1}
  80%{opacity:0}
  100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}

body {
  font-family: 'open_sansregular';
}

.show-xs,
.show-s,
.show-m,
.show-l {
  display: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'proxima_novasemibold';
  margin: 0;
  font-weight: normal;
  line-height: normal;
}

a, a:active, a:hover, a:focus {
  outline: none;
  text-decoration: none;
  color: #303030;
}

.btn:active, 
.btn.active {
  box-shadow: none;
}

h2 {
  font-family: 'proxima_nova_rgregular';
  font-size: 32px;
  color: #212326;
}

.sticky-cover {
  position: relative;
  z-index: 97;
}

/***************************
****************************
Bottons Styles
****************************
***************************/

.my-btn-1 {
  background-color: #e74748;
  border: medium none;
  color: #ffffff;
  font-family: 'proxima_novasemibold';
  height: 35px;
  line-height: 35px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: baseline;
  width: 93px;
}

.my-btn-1:hover {
  background-color: #df3543;
  color: #FFFFFF;
}

.my-btn-1 span {
  background: url("../images/icon-1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 15px;
  margin-right: 14px;
  vertical-align: middle;
  width: 16px;
}

.go-to {
  background: url("../images/arrow-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 58px;
  width: 58px;
}

.btn-2-wrapper {
  left: 0;
  position: absolute;
  top: 0;
  width: 153px;
}

.btn-2-wrapper a,
.btn-2-wrapper button {
  background: url("../images/btn-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 72px;
  left: 50%;
  margin-left: -36px;
  position: absolute;
  top: 41px;
  width: 72px;
  z-index: 3;
  border: none;
}

.btn-2-wrapper a + span,
.btn-2-wrapper button + span {
  background: url("../images/btn-2-circle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 159px;
  left: 0;
  position: absolute;
  top: 0;
  width: 153px;
  z-index: 2;

  transition:.1s;
  animation:play-pulse 2s infinite linear;
  -webkit-animation:play-pulse 2s infinite linear;
  -moz-animation:play-pulse 2s infinite linear;
  -ms-animation:play-pulse 2s infinite linear;
  -o-animation:play-pulse 2s infinite linear
}

.btn-3-left,
.btn-3-right {
  background: url("../images/btn-3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  height: 40px;
  padding: 0;
  width: 40px;
}

.btn-3-left {
  background-position: 0 0;
}

.btn-3-left:hover {
  background-position: 0 -40px;
}

.btn-3-right {
  background-position: 0 -80px;
}

.btn-3-right:hover {
  background-position: 0 -120px;
}

.btn-4-wrapper {
  left: 0;
  position: absolute;
  top: 0;
  height: 56px;
  width: 56px;
}

.btn-4-wrapper a {
  background: url("../images/btn-4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 33px;
  left: 50%;
  margin-left: -16.6px;
  margin-top: -16.5px;
  position: absolute;
  top: 50%;
  width: 33px;
  z-index: 3;
}

.btn-4-wrapper a + span {
  background: url("../images/btn-4-circle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
  height: 56px;
  width: 56px;

  transition:.1s;
  animation:play-pulse 2s infinite linear;
  -webkit-animation:play-pulse 2s infinite linear;
  -moz-animation:play-pulse 2s infinite linear;
  -ms-animation:play-pulse 2s infinite linear;
  -o-animation:play-pulse 2s infinite linear
}

/***************************
****************************
Header Styles
****************************
***************************/

header {
  background: url("../images/g-1.png") repeat-x scroll 0 100%, url("../images/t-1.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 89px;
  left: 0;
  padding-bottom: 6px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header .logo {
  margin-top: 20px;
}

.logo a {
  background: url("../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 41px;
  text-indent: -9999px;
  width: 214px;
}

.ht-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.ht-nav li {
  float: left;
}

.ht-nav li a {
  font-family: 'proxima_novasemibold';
  text-transform: uppercase;
  font-size: 14px;
}

header .ht-nav li {
  margin: 0 22px;
  line-height: 83px;
}

header .ht-nav li:last-child {
  margin-right: 0;
}

header .ht-nav li:first-child {
  margin-left: 0;
}

header .ht-nav li a {
  display: block;
  height: 83px;
  line-height: 83px;
}

header .ht-nav li.active a {
  background: url("../images/arrow-1.png") no-repeat 50% 100%;
}

.mobile-nav-controller {
  height: 83px;
  overflow: hidden;
}

.mobile-nav-controller > * {
  margin-top: 24px;
  float: left;
}

.open-mobile-nav {
  background: url("../images/open-mobile-nav.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 35px;
  width: 43px;
  cursor: pointer;
}

.open-mobile-nav:hover {
  background-position: 0 -35px;
}

.mobile-nav-controller .sep {
  margin: 0 17px;
  width: 1px;
  height: 83px;
  background-color: #e9e9e9;
}

.mobile-nav {
  display: none;
}

.mobile-nav ul {
  background: url("../images/t-6.png") repeat 0 0;
  margin: 0;
}

.mobile-nav ul li {
  border-bottom: 1px solid #d33e45;
}

.mobile-nav ul li a {
  background: url("../images/arrow-4.png") no-repeat 98% 50%;
  display: block;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0 25px;
  line-height: 52px;
}

.mobile-nav ul li a span {
  background: url("../images/icon-1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 15px;
  margin-right: 6px;
  position: relative;
  top: -2px;
  vertical-align: middle;
  width: 16px;
}

.mobile-nav ul a:hover {
  background-color: #d33e45;
}

/***************************
****************************
Home Video Styles
****************************
***************************/
#home-video {
  background-attachment: fixed;
  background-image: url("../images/bg-1.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 936px;
  padding-top: 289px;
  text-align: center;
}

#home-video h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 58px;
  margin-bottom: 10px;
}

#home-video p {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

#home-video .go-to {
  left: 50%;
  margin-left: -29px;
  position: absolute;
  top: 550px;
}

#home-video .btn-2-wrapper {
  left: 50%;
  margin-left: -76.5px;
  top: 245px;
}

/***************************
****************************
Gallery Styles
****************************
***************************/
#gallery {
  background-color: #fff;
  height: 712px;
  padding-bottom: 40px;
  padding-top: 68px;
}

#gallery h2 {
  text-align: center;
  margin-bottom: 70px;
}

#thumbnails {
  background: url("../images/g-2.png") repeat-x 0 0 #f4f5f6;
  height: 174px;
}

#thumbnails ul {
  margin: 0
}

#thumbnails li {
  background: url("../images/sep-1.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
  height: 173px;
  line-height: 173px;
  text-align: center;
  width: 20%;
  cursor: pointer;
}

#thumbnails li:last-child {
  background: none;
}

#thumbnails li img {
  opacity: 0.4;
}

#thumbnails li.active {
  background: 
  url("../images/sep-1.png") no-repeat 100% 50%,
  url("../images/arrow-3.png") no-repeat 50% 0;
}

#thumbnails li:last-child.active {
  background: url("../images/arrow-3.png") no-repeat 50% 0;
}

#thumbnails li.active img {
  opacity: 1;
}

#thumbnails .btn-3-left,
#thumbnails .btn-3-right {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

#thumbnails .btn-3-left {
  left: 0;
}

#thumbnails .btn-3-right {
  right: 0;
}

.gallery-image {
  text-align: center;
  display: none;
  opacity: 0;
  transition: all 1s ease;
}

.gallery-image-wrapper {
  margin: 0 auto;
  position: relative;
  width: 340px;
}

.gallery-image-wrapper img {
  width: 100%;
}

.gallery-image.active {
  display: block;
  opacity: 1;
}

.dot-1-gallery-3 {
  left: 50px;
  top: 45px;
}

.dot-2-gallery-3 {
  left: auto;
  right: 40px;
  top: 70px;
}

.dot-3-gallery-3 {
  left: 62px;
  top: 222px;
}

.dot-4-gallery-3 {
  left: auto;
  right: 58px;
  top: 206px;
}

.dot-5-gallery-3 {
  left: 50%;
  margin-left: -28px;
  top: 347px;
}

.text-gallery {
  visibility: hidden;
  position: absolute;
  width: 205px;
  opacity: 0;
  transition: all 1s ease;
}

.text-gallery.current {
  visibility: visible;
  opacity: 1;
}

.text-gallery p {
  background: url("../images/icon-2.png") no-repeat 0 5px;
  line-height: 20px;
  margin: 0;
  padding-left: 30px;
  text-align: left;
}

.text-3-gallery-3 {
  left: -295px;
  top: 140px;
}

.line-container {
  position: absolute;
  transition: width 1s ease 0s;
}

.line-container .connection-line {
  background: none repeat scroll 0 0 #9e9e9c;
  height: 1px;
  transition: width 0.15s linear 0.38s;
  width: 0;
}

.text-3-gallery-3.current .line-container .connection-line {
  transition: width 0.15s linear 0s;
  width: 100%;
}

.text-3-gallery-3 .line-container {
  right: -171px;
  top: 40%;
  width: 187px;
}

/***************************
****************************
Uses Tabs Styles
****************************
***************************/

#uses-tabs {
  background-color: #88b9f0;
  color: #ffffff;
  height: 676px;
  padding-bottom: 55px;
  padding-top: 67px;
}

#uses-tabs h4 {
  text-transform: uppercase;
  font-size: 20px;
}

#uses-tabs h2 {
  font-family: 'open_sanslight';
  font-size: 36px;
  margin-bottom: 75px;
}

#uses-tabs h4, 
#uses-tabs h2 {
  text-align: center;
  color: #FFFFFF;
}

#uses-tabs p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 28px;
}

#uses-tabs p strong {
  font-weight: normal;
  font-family: 'open_sanssemibold';
  font-size: 16px;
}

#uses-tabs p:last-child {
  margin-bottom: 0;
}

.use-description {
  float: left;
  width: 374px;
}

.use-image {
  float: right;
  width: 702px;
}

.use-image img {
  width: 100%;
}

.use-tips {
  margin-top: 53px;
  padding-top: 30px;
  border-top: 1px solid #7aabe3;
}

.use-tips .use-tip {
  float: left;
  font-family: 'open_sanssemibold';
  overflow: hidden;
  width: 33.33%;
}

.use-tips .use-tip img {
  float: left;
  margin-right: 23px;
}

.use-tips .use-tip .label {
  background-color: #4e7baf;
  border-radius: 4px;
  font-size: 20px;
  font-weight: normal;
  height: 29px;
  line-height: 29px;
  padding: 0 10px;
  position: relative;
  top: 8px;
}

.use-tips .use-tip span {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}

#uses-tabs-links {
  background: url("../images/bg-2.png") repeat-x 0 0;
  height: 130px;
}

#uses-tabs-links ul {
  margin: 0;
}

#uses-tabs-links ul li {
  float: left;
  width: 20%;
}

#uses-tabs-links ul li a {
  border-bottom: 12px solid #ffffff;
  color: #5e6163;
  display: block;
  font-family: 'proxima_novasemibold';
  height: 130px;
  padding: 17px 48px 0;
  text-align: center;
  text-transform: uppercase;
}

#uses-tabs-links ul li.active a {
  color: #FFFFFF;
  background-color: #88b9f0;
  border-bottom: 12px solid #88b9f0;
}

#uses-tabs-links ul li a span {
  display: block;
  margin: 0 auto 12px auto;
  height: 41px;
  width: 41px;
}

#uses-tabs-links ul li a:hover span {
  background-position: 0 -41px;
}

#uses-tabs-links ul li.active a span {
  background-position: 0 -82px;
}

.use-link-1 a span {
  background: url("../images/uses-tabs-icon-1.png") no-repeat 0 0;
  width: 40px !important;
}

.use-link-2 a span {
  background: url("../images/uses-tabs-icon-2.png") no-repeat 0 0;
}

.use-link-3 a span {
  background: url("../images/uses-tabs-icon-3.png") no-repeat 0 0;
}

.use-link-4 a span {
  background: url("../images/uses-tabs-icon-4.png") no-repeat 0 0;
  width: 50px !important;
}

.use-link-5 a span {
  background: url("../images/uses-tabs-icon-5.png") no-repeat 0 0;
}

/***************************
****************************
Buy CTA Styles
****************************
***************************/
#buy-cta {
  background: url("../images/bg-3.png") repeat scroll center top / cover rgba(0, 0, 0, 0);
  height: 651px;
  text-align: center;
  padding-top: 75px;
  color: #ffffff;
}

#buy-cta h2 {
  font-family: 'open_sanslight';
  font-size: 42px;
  color: #ffffff;
  margin-bottom: 80px;
}

.buy-cta {
  float: left;
  width: 33.33%;
  font-size: 16px;
  padding: 0 75px;
}

.buy-cta img {
  margin-bottom: 20px;
}

.buy-cta h4 {
  font-family: 'open_sanssemibold';
  text-transform: uppercase;
  margin-bottom: 10px;
}

.buy-cta p {
  line-height: 26px;
  margin: 0;
}

#buy-cta h2 + div {

}

.cta-btn {
  background: url("../images/t-2.png") no-repeat 0 0;
  border-radius: 5px;
  width: 378px;
  height: 69px;
  line-height: 69px;
  margin: 65px auto 0 auto;
}

.cta-btn .my-btn-1 {
  font-size: 18px;
  width: 166px;
  height: 47px;
  margin-left: 19px;
}

/***************************
****************************
Footer Styles
****************************
***************************/
footer {
  background: url("../images/footer-bg.png") repeat-x 0 100% #FFFFFF;
  padding-bottom: 64px;
  padding-top: 54px;
}

footer h5 {
  color: #9ca5ae;
  font-family: 'open_sanssemibold';
  font-size: 13px;
  margin: 0 0 14px;
  text-transform: uppercase;
}

input[type="text"], 
input[type="email"] {
  background: url("../images/t-3.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  border-radius: 5px;
  height: 34px;
  padding: 0;
}

.letter input[type="text"], 
.letter input[type="email"] {
  background-color: #f2f5f7;
  border-radius: 5px;
  color: #9ca5ae;
  font-size: 13px;
  height: 38px;
  margin-right: 16px;
  padding: 0 15px;
  width: 255px;
}

footer .my-btn-1 {
  border: medium none;
  height: 38px;
  line-height: 38px;
  width: 114px;
}

footer .social {
  float: right;
}

.social ul {
  margin: 0;
}

.social li {
  display: inline-block;
  margin-right: 12px;
}

.social li:last-child {
  margin: 0;
}

.social a {
  background: url("../images/social-icons.png") no-repeat 0 0;
  display: block;
  height: 36px;
  width: 36px;
  text-indent: -9999px;
}

.social a.fb {
  background-position: 0 0;
}

.social a.fb:hover {
  background-position: 0 -36px;
}

.social .tw {
  background-position: 0 -72px;
}

.social .tw:hover {
  background-position: 0 -108px;
}

.social .vm {
  background-position: 0 -144px;
}

.social .vm:hover {
  background-position: 0 -180px;
}

.social .yt {
  background-position: 0 -216px;
}

.social .yt:hover {
  background-position: 0 -252px;
}

.footer-wrapper {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#bottom {
  margin-bottom: 35px;
}

#bottom,
#bottom a {
  color: #9ca5ae;
  font-size: 12px;
}

#bottom a:hover {
  text-decoration: underline;
}

#bottom ul {
  margin: 0;
  overflow: hidden;
}

#bottom ul li {
  float: left;
  margin-left: 10px;
}

#bottom ul li:first-child {
  margin-left: 0;
}

/***************************
****************************
Savings Uses Styles
****************************
***************************/
#saving-tabs {
  background-color: #fff;
  height: 702px;
  padding-bottom: 100px;
  padding-top: 80px;
}

#saving-tabs h2 {
  color: #1d272d;
  text-align: center;
  font-size: 32px;
  margin-bottom: 35px;
}

#saving-tabs .savings-links {
  margin: 0 0 80px 0;
  text-align: center;
}

#saving-tabs .savings-links li {
  background: url("../images/sep-2.png") no-repeat 100% 50%;
  display: inline-block;
}

#saving-tabs .savings-links li:last-child {
  background: none;
}

#saving-tabs .savings-links li a {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  width: 183px;
  text-align: center;
}

#saving-tabs .savings-links li a span {
  background: url("../images/savings-icons.png") no-repeat 0 0;
  display: inline-block;
  height: 45px;
  width: 45px;
  vertical-align: middle;
  margin-right: 21px;
}

#saving-tabs li.savings-link-1 a span {
  background-position: 0 0;
}

#saving-tabs li.savings-link-1.active a span {
  background-position: 0 -45px;
}

#saving-tabs li.savings-link-2 a span {
  background-position: 0 -90px;
}

#saving-tabs li.savings-link-2.active a span {
  background-position: 0 -135px;
}

#saving-tabs li.savings-link-3 a span {
  background-position: 0 -180px;
}

#saving-tabs li.savings-link-3.active a span {
  background-position: 0 -225px;
}

.savings-description {
  float: left;
  padding-right: 45px;
  width: 374px;
}

.savings-description p {
  color: #373e44;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 28px;
}

.savings-description p strong {
  font-family: 'open_sanssemibold';
  font-size: 16px;
  font-weight: normal;
}

.savings-description p:last-child {
  margin-bottom: 0;
}

.savings-inner-tabs {
  float: right;
  width: 766px;
  position: relative;
}

.savings-inner-tabs h4 {
  color: #373e44;
  font-size: 20px;
  margin-bottom: 40px;
}

.savings-inner-tabs .savings-inner-links {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.savings-inner-tabs .savings-inner-links li {
  float: left;
}

.savings-inner-tabs .savings-inner-links li a {
  font-family: 'open_sanssemibold';
  height: 33px;
  line-height: 33px;
  padding: 0 13px;
  display: block;
  border-radius: 4px;
  color: #373e44;
  text-transform: uppercase;
}

.savings-inner-tabs .savings-inner-links li.active a {
  background-color: #b6bcc1;
  color: #FFFFFF;
}

.savings-inner-tabs .tab-pane > img {
  width: 100%;
}

/***************************
****************************
Modal Video Styles
****************************
***************************/

.videoWrapper {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
}

.videoWrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/***************************
****************************
About Page Styles
****************************
***************************/

.my-page-header {
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 358px;
  padding-top: 169px;
  text-align: center;
}

.my-page-header .page-header-content {
  left: 0;
  position: fixed;
  right: 0;
}

.my-page-header h1 {
  color: #ffffff;
  font-size: 58px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.my-page-header p {
  font-size: 18px;
  line-height: 21px;
}

#page-header-about {
  background-image: url("../images/header-about.png");
}

#ceo h2,
#about-text h2,
#team-tabs h2,
.ceo-text h2 {
  margin-bottom: 20px;
}

#ceo p,
#about-text p,
#team-tabs p,
.ceo-text p {
  color: #616971;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

#ceo p:last-child,
#about-text p:last-child,
#team-tabs p:last-child,
.ceo-text p:last-child {
  margin-bottom: 0;
}

#about-text {
  padding: 61px 0;
}

.about-logo {
  float: left;
  width: 142px;
}

.about-logo img {
  width: 100%;
}

.about-text {
  width: 970px;
  float: right;
}

#ceo {
  background-color: #f2f5f7;
  padding: 68px 0;
}

.ceo-text {
  padding-left: 320px;
}

#ceo img {
  bottom: -68px;
  left: 0;
  position: absolute;
  width: 270px;
}

.social-2 {
  margin: 0;
}

.social-2 a {
  background: url("../images/social-icons-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 41px;
  width: 42px;
}

.social-2 .tw {
  background-position: 0 0;
}

.social-2 .tw:hover {
  background-position: 0 -41px;
}

.social-2 .li {
  background-position: 0 -82px;
}

.social-2 .li:hover {
  background-position: 0 -123px;
}

#team-tabs {
  background: url("../images/bg-4.png") repeat-x scroll 0 0 #ffffff;
  border-bottom: 1px solid #f4f4f4;
  height: 516px;
  padding-bottom: 60px;
  padding-top: 75px;
}

#team-tabs h2 {
  text-align: center;
  margin-bottom: 45px;
}

.team-tabs-links {
  margin: 0 0 70px 0;
  width: 100%;
  text-align: center;
}

.team-tabs-links li {
  display: inline-block;
  margin: 0 7px;
}

.team-tabs-links li a img {
  width: 49px;
  height: 49px;
  display: block;
  opacity: 0.4;
}

.team-tabs-links li.active a img {
  opacity: 1;
}

.member-image {
  float: left;
  width: 380px;
}

.member-image > img {
  float: left;
  margin-right: 25px;
}

.member-text {
  float: right;
  width: 670px;
  line-height: 27px;
}

#team-tabs .member-image p {
  margin-bottom: 20px;
}

/***************************
****************************
Contact Page Styles
****************************
***************************/

#page-header-contact {
  background-image: url("../images/header-contact.jpg");
}

#form-wrapper {
  background: url("../images/bg-5.jpg") repeat-x 0 0;
  width: 770px;
  margin: 50px auto;
}

#form-wrapper input[type="text"],
#form-wrapper input[type="email"],
#form-wrapper textarea {
  border: 1px solid #e9e9e9;
  background-color: #f6f6f6;
  box-shadow: 0 0 20px -15px #868686 inset;
  width: 100%;
  height: 37px;
  padding: 0 20px;
  resize: none;
  border-radius: 5px;
}

#form-wrapper textarea {
  min-height: 137px;
  padding: 20px;
}

#form-wrapper input[type="text"]:focus,
#form-wrapper input[type="email"]:focus,
#form-wrapper textarea:focus {
  background-color: #ffffff;
  border: 1px solid #fdafaf;
  box-shadow: 0 0 18px -7px #ef5657;
  outline: none;
}

#form-wrapper fieldset:first-child {
  text-align: center;
  padding: 36px 0;
  border-bottom: 1px solid #e7ebed;
  line-height: 24px;
}

#form-wrapper label {
  color: #1d272d;
  display: block;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
}

.form-column {
  float: left;
  width: 370px;
}

.form-column + .form-column {
  float: right;
}

.form-column > div {
  margin-bottom: 20px;
}

.form-column > div:last-child {
  margin-bottom: 0;
}

.checkbox,
.radio {
  background-color: #eeeff0;
  border-radius: 100%;
  display: inline-block;
  height: 24px;
  margin: 0;
  min-height: 0;
  padding: 0;
  position: relative;
  width: 24px;
}

.checkbox + .checkbox,
.radio + .radio {
  margin: 0;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
  float: none;
  margin: 0;
  visibility: hidden;
}

.checkbox label,
.radio label {
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
  z-index: 1;
}

.checkbox input[type="checkbox"]:checked + label,
.radio input[type="radio"]:checked + label {
  background: url("../images/checkbox.jpg") no-repeat 0 0 #8dc63f;
}

#form-wrapper .checkbox,
#form-wrapper .radio {
  margin: 0 2px 0 15px;
}

.select-wrapper {
 background: url("../images/select.jpg") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
 border-radius: 5px;
 box-shadow: -1px 2px 3px -3px #000000;
 height: 37px;
 width: 100%;
}

.select-wrapper select {
  height: 37px;
  padding-left: 21px;
  width: 100%;

  -moz-appearance: menulist-text;
  -webkit-appearance: menulist-text;
  appearance: menulist-text;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  box-shadow: none;
  outline: medium none;
  padding-right: 39px;
  width: 100%;
}

.select-wrapper select:focus {
  outline: medium none;
}

#form-wrapper fieldset {
  margin-bottom: 20px;
}

#form-wrapper .my-btn-1 {
  display: block;
  font-size: 18px;
  height: 47px;
  line-height: 47px;
  margin: 30px auto 0 auto;
  width: 207px;
}

#contact-links {
  background: url("../images/bg-5.jpg") repeat-x 0 0;
  padding-top: 70px;
}

#contact-links .container {
  border-bottom: 1px solid #f4f6f7;
}

#contact-links h2 {
  font-family: 'open_sansregular';
  font-size: 22px;
  color: #464646;
  margin-bottom: 35px;
}

.c-links-left {
  float: left;
  width: 66.66%;
}

.c-links-right {
  background-color: #f2f5f7;
  float: left;
  width: 33.33%;
  padding: 20px 25px;
}

.c-links-right .contact-link {
  padding: 0;
}

.c-links-left .contact-link {
  float: left;
  width: 50%;
}

.contact-link {
  margin-bottom: 40px;
  padding-right: 70px;
}

.contact-link ul {
  list-style: none outside none;
  margin: 0;
}

.contact-link li {
  margin-bottom: 22px;
}

.contact-link li:last-child {
  margin-bottom: 0;
}

.contact-link li a {
  color: #464646;
  display: block;
  font-size: 13px;
  text-decoration: underline;
  position: relative;
  padding-left: 23px;
}

.contact-link li a:hover {
  color: #e74748;
}

.contact-link li a span {
  background: url("../images/icon-3.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 16px;
  width: 16px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 2px;
}

.contact-link li a:hover span {
  background-position: 0 -16px;
}

.contact-link h4 {
  background: url("../images/contact-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-family: 'open_sansregular';
  color: #8a8a8a;
  font-size: 17px;
  padding-left: 46px;
  margin-bottom: 28px;
  height: 37px;
  line-height: 37px;
}

.contact-link-1 h4 {
  background-position: 0 0;
}

.contact-link-2 h4 {
  background-position: 0 -37px;
}

.contact-link-3 h4 {
  background-position: 0 -74px;
}

.contact-link-4 h4 {
  background-position: 0 -111px;
}

.contact-link-5 h4 {
  background-position: 0 -148px;
}

#map {
  background: url("../images/map.jpg") repeat center top / cover  rgba(0, 0, 0, 0);
  height: 382px;
}

#contact-methods {
  background: url("../images/pattern-1.jpg") repeat-x 50% 100%;
  height: 255px;
}

.contact-method {
  background: url("../images/sep-1.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
  float: left;
  height: 255px;
  padding-top: 82px;
  width: 33.33%;
  text-align: center;
}

.contact-method:first-child {
  text-align: left;
}

.contact-method:last-child {
  background: none;
  text-align: right;
}

.contact-method p {
  background: url("../images/contact-methods.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #464646;
  display: inline-block;
  font-family: 'open_sanssemibold';
  font-size: 17px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding-left: 65px;
}

.contact-method a {
  color: #464646;
}

.contact-method a:hover {
  text-decoration: underline;
}

.contact-method-1 p {
  background-position: 0 0;
}

.contact-method-2 p {
  background-position: 0 -53px;
}

.contact-method-3 p {
  background-position: 0 -106px;
}