@media (max-width: 767px) {
  .hide-xs {
    display: none !important;
  }

  .show-xs {
    display: block;
  }

  .my-page-header {
    background-size: auto;
  }

  .mobile-nav ul a {
    background-position: 95% 50%;
  }

  #home-video {
    background-position: -240px -280px;
    background-size: auto;
    height: 600px;
    padding-top: 130px;
  }

  #home-video h1 {
    font-size: 46px;
  }

  #home-video .btn-2-wrapper {
    top: 205px;
  }

  #home-video .go-to {
    top: 365px;
  }

  #home-video p {
    font-size: 16px;
  }

  #uses-tabs {
    height: auto;
    padding-bottom: 0;
    padding-top: 46px;
  }

  #uses-tabs h2 {
    font-size: 27px;
    margin-bottom: 80px;
  }

  .use-description,
  .use-image,
  .use-tips .use-tip {
    width: 100%;
    float: none;
  }

  .use-description {
    margin-bottom: 30px;
    text-align: center;
  }

  .use-tips {
    margin-top: 30px;
  }

  .use-tips .use-tip {
    margin-bottom: 30px;
    padding-left: 40px;
  }

  .small-uses-tabs {
    left: 50%;
    margin: 0 0 0 -58px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 135px;
    width: 116px;
  }

  .small-uses-tabs li {
    display: inline-block;
    margin: 0 3px;
  }

  .small-uses-tabs li a {
    width: 14px;
    height: 14px;
    display: block;
    background-color: #b8d5f6;
    text-indent: -9999px;
    border-radius: 100%;
  }

  .small-uses-tabs li.active a {
    background-color: #ffffff;
  }

  #gallery {
    height: 883px;
    padding-top: 53px;
  }

  .gallery-image-wrapper {
    padding-bottom: 250px;
    width: 261px;
  }

  .dot-1-gallery-3 {
    left: 37px;
    top: 25px;
  }

  .dot-2-gallery-3 {
    right: 33px;
    top: 53px;
  }

  .dot-3-gallery-3 {
    left: 40px;
    top: 160px;
  }

  .dot-4-gallery-3 {
    right: 44px;
    top: 150px;
  }

  .dot-5-gallery-3 {
    top: 255px;
  }

  .text-gallery {
    left: 0;
    text-align: center;
    top: auto;
    width: 100%;
  }

  .text-3-gallery-3 .line-container {
    left: -43px;
    top: -72px;
    width: 220px;
  }

  .gallery-image-wrapper .text-gallery img {
    width: auto;
  }

  .text-gallery p {
    font-size: 12px;
    margin-top: 20px;
  }

  .line-container {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  #thumbnails {
    height: auto;
  }

  #thumbnails li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: auto;
    line-height: normal;
    padding-top: 15px;
  }

  #thumbnails li.active {
    background: url("../images/arrow-3.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
  }

  #thumbnails li img {
    width: 50%;
  }

  #saving-tabs h2 {
    font-size: 27px;
  }

  #saving-tabs {
    height: 856px;
    padding-bottom: 72px;
    padding-top: 65px;
  }

  #saving-tabs .savings-links {
    width: 100%;
    overflow: hidden;
    margin: 0 0 45px;
  }

  #saving-tabs .savings-links li {
    display: block;
    float: left;
    width: 33.33%;
  }

  #saving-tabs .savings-links li a {
    height: 60px;
    line-height: 60px;
    width: auto;
  }

  #saving-tabs .savings-links li a span {
    width: 30px;
    height: 30px;
    background-size: 30px auto;
    margin-right: 8px;
  }

  #saving-tabs li.savings-link-1 a span {
    background-position: 0 0;
  }

  #saving-tabs li.savings-link-1.active a span {
    background-position: 0 -30px;
  }

  #saving-tabs li.savings-link-2 a span {
    background-position: 0 -60px;
  }

  #saving-tabs li.savings-link-2.active a span {
    background-position: 0 -90px;
  }

  #saving-tabs li.savings-link-3 a span {
    background-position: 0 -120px;
  }

  #saving-tabs li.savings-link-3.active a span {
    background-position: 0 -150px;
  }

  .savings-description {
    border-bottom: 1px solid #f1f1f1;
    float: none;
    margin-bottom: 23px;
    padding: 0 0 23px;
    text-align: center;
    width: 100%;
  }

  .savings-inner-tabs {
    float: none;
    width: 100%;
  }

  .savings-inner-tabs h4 {
    margin-bottom: 25px;
    text-align: center;
  }

  .savings-inner-tabs .savings-inner-links {
    margin-bottom: 25px;
    position: static;
    text-align: center;
    width: 100%;
  }

  .savings-inner-tabs .savings-inner-links li {
    float: none;
    display: inline-block;
  }

  .savings-description p {
    margin-bottom: 20px;
  }

  #gallery h2 {
    font-size: 28px;
  }

  #uses-tabs p {
    font-size: 15px;
  }

  #buy-cta {
    background-position: 650px 0;
    height: 552px;
    padding-top: 44px;
  }

  #buy-cta h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .buy-cta {
    float: none;
    width: 100%;
    padding: 0;
  }

  .cta-btn {
    background-size: 100% 69px;
    width: 100%;
    margin-top: 20px;
  }

  .cta-btn > img {
    width: 135px;
  }

  .cta-btn .my-btn-1 {
    width: 125px;
  }

  .buy-cta-tabs ul {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
    width: 100%;
  }

  .buy-cta-tabs ul li {
    display: inline-block;
  }

  .buy-cta-tabs ul li a {
    background: url("../images/t-5.png") repeat 0 0;
    width: 14px;
    height: 14px;
    text-indent: -9999px;
    border-radius: 100%;
    display: block;
  }

  .buy-cta-tabs ul li.active a {
    background: url("../images/t-4.png") repeat 0 0;
  }

  #bottom p {
    width: 100%;
    text-align: center;
  }

  #bottom ul {
    width: 100%;
    text-align: center;
  }

  #bottom ul li {
    float: none;
    display: inline-block;
  }

  footer {
    padding-top: 30px;
  }

  footer h5 {
    text-align: center;
  }

  .letter {
    width: 100%;
  }

  .letter input[type="text"], 
  .letter input[type="email"] {
    width: 63%;
    margin: 0;
  }

  footer .my-btn-1 {
    width: 30%;
    float: right;
  }

  .my-page-header h1 {
    font-size: 40px;
  }

  .my-page-header p {
    font-size: 17px;
  }

  .about-text {
    width: 100%;
    float: none;
    text-align: center;
  }

  #ceo {
    padding: 20px 0 0;
    text-align: center;
  }

  #ceo img {
    width: 230px;
    position: static;
  }

  .ceo-text {
    padding: 0;
    text-align: center;
  }

  #ceo-text {
    padding: 40px 0;
  }

  .team-tabs-links li {
    margin: 0 3px;
  }

  #team-tabs {
    height: auto;
    padding: 60px 0;
    text-align: center;
  }

  .member-image {
    float: none;
    width: 100%;
  }

  .member-image > img {
    float: none;
    margin: 0 0 35px;
  }

  .member-text {
    float: none;
    margin-top: 20px;
    width: 100%;
  }

  .team-tabs-links {
    margin-bottom: 35px;
  }

  #team-tabs h2 {
    margin-bottom: 35px;
  }

  #contact-form {
    background: url("../images/bg-5.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    margin: 18px 0 50px 0;
  }

  #form-wrapper {
    background: none;
    width: 100%;
    margin: 0;
  }

  .form-column {
    float: none;
    width: 100%;
  }

  .form-column + .form-column {
    margin-top: 20px;
  }

  #form-wrapper .my-btn-1 {
    margin-top: 0;
  }

  #contact-links {
    padding-top: 44px;
  }

  .c-links-left .contact-link,
  .c-links-right .contact-link,
  .c-links-left,
  .c-links-right {
    float: none;
    width: 100%;
  }

  .c-links-left .contact-link,
  .c-links-right .contact-link {
    margin: 0;
    padding: 0;
  }

  #contact-methods {
    height: auto;
    padding: 45px 0 70px 0;
  }

  .contact-method {
    background: none;
    float: none;
    height: auto;
    padding: 0;
    width: 100%;
    text-align: left !important;
    margin-bottom: 24px;
  }

  .contact-method p {
    font-size: 16px;
  }

  .contact-method:last-child {
    margin-bottom: 0;
  }

  #faq-tabs .faq-nav {
    margin: 40px 0;
    width: 100%;
    text-align: center;
  }

  #faq-tabs .faq-nav li {
    display: inline-block;
  }

  #faq-tabs .faq-nav li a {
    background-color: #e2e4e6;
    width: 14px;
    height: 14px;
    display: block;
    border-radius: 100%;
  }

  #faq-tabs .faq-nav li.active a {
    background-color: #e74748;
  }
}

@media (max-width: 335px) {
  #home-video h1 {
    font-size: 40px;
  }

  #home-video p {
    font-size: 13px;
  }
  
  #uses-tabs h2 {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .small-uses-tabs {
    top: 90px;
  }
}